.header-container {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    text-align: center;

  
    .header {
      display: flex;
      justify-content: space-evenly;
      width: 286px;
      font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
      font-size: 1.2em;
      margin-top: 5px;

  
      a {
        position: relative;
        text-decoration: none;
        color:  $grey;
  
        &:after {
          display: block;
          position: absolute;
          left: 0;
          bottom: -30px;
          width: 0;
          height: 8px;
          background-color: $highlighterGreen;
          content: '';
          transition: width 0.15s;
        }
  
        &:hover {
          color: $highlighterGreen;
  
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  